In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import bs4 as bs
import urllib.request

### Extracting features of the 2023 Bollywood movies

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2023"

In [3]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source , 'lxml')

In [7]:
tables = soup.find_all('table' , class_='wikitable')

In [8]:
len(tables)

6

In [9]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'
df5 = pd.read_html(str(tables[4]))[0]
df6 = pd.read_html(str(tables))

In [10]:
df = df1.append(df2.append(df3.append(df4 , ignore_index=True) , ignore_index=True) , ignore_index=True)

In [11]:
df

,0,1,Cast,Director,Distributor,Opening,Opening.1,Production Company,Rank,Ref.,Studio (production house),Title,Worldwide Gross
0,#,Implies that the film is multilingual and the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,".mw-parser-output .plainlist ol,.mw-parser-out...",NaN,NaN,Red Chillies Entertainment,1.0,[1][2],NaN,Jawan,"₹1,148.32 crore (US$140 million)"
2,NaN,NaN,NaN,NaN,Yash Raj Films,NaN,NaN,Yash Raj Films,2.0,[3][2],NaN,Pathaan,"₹1,050.30 crore (US$130 million)"
3,NaN,NaN,NaN,NaN,AA FilmsE4 EntertainmentSri Venkateswara Creat...,NaN,NaN,T-Series FilmsBhadrakali PicturesCine1 Studios,3.0,[4][2],NaN,Animal,₹917.82 crore (US$110 million)
4,NaN,NaN,NaN,NaN,Zee Studios,NaN,NaN,Zee StudiosAnil Sharma ProductionsMM Movies,4.0,[5][2],NaN,Gadar 2,₹691.08 crore (US$83 million)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,NaN,NaN,Nawazuddin SiddiquiAvneet Kaur,Sai Kabir,NaN,JUN,23.0,NaN,NaN,[67],"Manikarnika Films, Amazon Prime Video",Tiku Weds Sheru,NaN
65,NaN,NaN,Sonnalli SeygallVardhan PuriSiddhanth Kapoor,Sarim Momin,NaN,JUN,23.0,NaN,NaN,[68],"The Production Headquarters LTD, Stone Circle ...",Aseq,NaN
66,NaN,NaN,Kartik AaryanKiara AdvaniGajraj RaoSupriya Pathak,Sameer Vidwans,NaN,JUN,29.0,NaN,NaN,[69],"Namah Pictures, Nadiadwala Grandson Entertainment",Satyaprem Ki Katha,NaN
67,NaN,NaN,Amruta SubhashAngad BediNeena GuptaMrunal Thak...,R. BalkiKonkona Sen SharmaAmit Ravindernath Sh...,NaN,JUN,29.0,NaN,NaN,[70],"RSVP Movies, Flying Unicorn Entertainment, Net...",Lust Stories 2,NaN
68,NaN,NaN,Randeep HoodaAdil HussainSapna PabbiArun Govil...,Prawaal Raman,NaN,JUN,30.0,NaN,NaN,[71],"JAR Pictures, Jio Studios, JioCinema",Sergeant,NaN

In [12]:
df = df[['Title' , 'Cast' , 'Director']]

In [13]:
df

,Title,Cast,Director
0,NaN,NaN,NaN
1,Jawan,NaN,NaN
2,Pathaan,NaN,NaN
3,Animal,NaN,NaN
4,Gadar 2,NaN,NaN
...,...,...,...
64,Tiku Weds Sheru,Nawazuddin SiddiquiAvneet Kaur,Sai Kabir
65,Aseq,Sonnalli SeygallVardhan PuriSiddhanth Kapoor,Sarim Momin
66,Satyaprem Ki Katha,Kartik AaryanKiara AdvaniGajraj RaoSupriya Pathak,Sameer Vidwans
67,Lust Stories 2,Amruta SubhashAngad BediNeena GuptaMrunal Thak...,R. BalkiKonkona Sen SharmaAmit Ravindernath Sh...
68,Sergeant,Randeep HoodaAdil HussainSapna PabbiArun Govil...,Prawaal Raman