In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('main_data1.csv' , encoding='latin1')

In [3]:
df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: the force awakens,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
7501,Halina Reijn,Nicole Kidman,Harris Dickinson,Antonio Banderas,Thriller,babygirl,Nicole Kidman Harris Dickinson Antonio Bandera...
7502,Ben Smallbone,Neal McDonough,Dawn Olivieri,Currie Graham,Horror Thriller Western,homestead,Neal McDonough Dawn Olivieri Currie Graham Ben...
7503,Robert Eggers,Bill SkarsgÃ¥rd,Nicholas Hoult,Lily-Rose Depp,Drama Fantasy Horror,nosferatu,Bill SkarsgÃ¥rd Nicholas Hoult Lily-Rose Depp ...
7504,James Mangold,TimothÃ©e Chalamet,Edward Norton,Elle Fanning,Drama Music History,a complete unknown,TimothÃ©e Chalamet Edward Norton Elle Fanning ...
7505,Rachel Morrison,Ryan Destiny,Brian Tyree Henry,Judy Greer,Drama,the fire inside,Ryan Destiny Brian Tyree Henry Judy Greer Rach...

In [4]:
romance_df = df[df['genres'].str.contains('Romance')]

In [5]:
romance_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
6,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure Animation Comedy Family Fantasy Musi...,tangled,Brad Garrett Donna Murphy M.C. Gainey Nathan G...
23,James Cameron,Leonardo DiCaprio,Kate Winslet,Gloria Stuart,Drama Romance,titanic,Leonardo DiCaprio Kate Winslet Gloria Stuart J...
27,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst,Action Adventure Fantasy Romance,spider-man 2,J.K. Simmons James Franco Kirsten Dunst Sam Ra...
43,Mike Newell,Jake Gyllenhaal,Richard Coyle,Reece Ritchie,Action Adventure Fantasy Romance,prince of persia: the sands of time,Jake Gyllenhaal Richard Coyle Reece Ritchie Mi...
72,Robert Stromberg,Angelina Jolie Pitt,Sharlto Copley,Sam Riley,Action Adventure Family Fantasy Romance,maleficent,Angelina Jolie Pitt Sharlto Copley Sam Riley R...
...,...,...,...,...,...,...,...
7450,Nate Edwards,Arsema Thomas,Darrell Britt-Gibson,Taissa Farmiga,Romance Drama,she taught love,Arsema Thomas Darrell Britt-Gibson Taissa Farm...
7470,Sean Baker,Mikey Madison,Mark Eydelshteyn,Yura Borisov,Comedy Drama Romance,anora,Mikey Madison Mark Eydelshteyn Yura Borisov Se...
7474,Caroline Lindy,Melissa Barrera,Tommy Dewey,Edmund Donovan,Horror Romance Comedy,your monster,Melissa Barrera Tommy Dewey Edmund Donovan Car...
7487,Jon M. Chu,Cynthia Erivo,Ariana Grande,Michelle Yeoh,Drama Fantasy Romance,wicked,Cynthia Erivo Ariana Grande Michelle Yeoh Jon ...
7488,Vicky Jenson,Rachel Zegler,John Lithgow,Jenifer Lewis,Thriller Mystery Romance,spellbound,Rachel Zegler John Lithgow Jenifer Lewis Vicky...

In [6]:
romance_df.reset_index(drop=True , inplace=True)

In [7]:
romance_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure Animation Comedy Family Fantasy Musi...,tangled,Brad Garrett Donna Murphy M.C. Gainey Nathan G...
1,James Cameron,Leonardo DiCaprio,Kate Winslet,Gloria Stuart,Drama Romance,titanic,Leonardo DiCaprio Kate Winslet Gloria Stuart J...
2,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst,Action Adventure Fantasy Romance,spider-man 2,J.K. Simmons James Franco Kirsten Dunst Sam Ra...
3,Mike Newell,Jake Gyllenhaal,Richard Coyle,Reece Ritchie,Action Adventure Fantasy Romance,prince of persia: the sands of time,Jake Gyllenhaal Richard Coyle Reece Ritchie Mi...
4,Robert Stromberg,Angelina Jolie Pitt,Sharlto Copley,Sam Riley,Action Adventure Family Fantasy Romance,maleficent,Angelina Jolie Pitt Sharlto Copley Sam Riley R...
...,...,...,...,...,...,...,...
1362,Nate Edwards,Arsema Thomas,Darrell Britt-Gibson,Taissa Farmiga,Romance Drama,she taught love,Arsema Thomas Darrell Britt-Gibson Taissa Farm...
1363,Sean Baker,Mikey Madison,Mark Eydelshteyn,Yura Borisov,Comedy Drama Romance,anora,Mikey Madison Mark Eydelshteyn Yura Borisov Se...
1364,Caroline Lindy,Melissa Barrera,Tommy Dewey,Edmund Donovan,Horror Romance Comedy,your monster,Melissa Barrera Tommy Dewey Edmund Donovan Car...
1365,Jon M. Chu,Cynthia Erivo,Ariana Grande,Michelle Yeoh,Drama Fantasy Romance,wicked,Cynthia Erivo Ariana Grande Michelle Yeoh Jon ...
1366,Vicky Jenson,Rachel Zegler,John Lithgow,Jenifer Lewis,Thriller Mystery Romance,spellbound,Rachel Zegler John Lithgow Jenifer Lewis Vicky...

In [8]:
romance_df.to_csv("romance.csv")