In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("main_data1.csv" , encoding='latin1')

In [3]:
df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: the force awakens,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
7501,Halina Reijn,Nicole Kidman,Harris Dickinson,Antonio Banderas,Thriller,babygirl,Nicole Kidman Harris Dickinson Antonio Bandera...
7502,Ben Smallbone,Neal McDonough,Dawn Olivieri,Currie Graham,Horror Thriller Western,homestead,Neal McDonough Dawn Olivieri Currie Graham Ben...
7503,Robert Eggers,Bill SkarsgÃ¥rd,Nicholas Hoult,Lily-Rose Depp,Drama Fantasy Horror,nosferatu,Bill SkarsgÃ¥rd Nicholas Hoult Lily-Rose Depp ...
7504,James Mangold,TimothÃ©e Chalamet,Edward Norton,Elle Fanning,Drama Music History,a complete unknown,TimothÃ©e Chalamet Edward Norton Elle Fanning ...
7505,Rachel Morrison,Ryan Destiny,Brian Tyree Henry,Judy Greer,Drama,the fire inside,Ryan Destiny Brian Tyree Henry Judy Greer Rach...

In [4]:
comedy_df = df[df['genres'].str.contains('Comedy')]

In [5]:
comedy_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
6,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure Animation Comedy Family Fantasy Musi...,tangled,Brad Garrett Donna Murphy M.C. Gainey Nathan G...
17,Barry Sonnenfeld,Will Smith,Michael Stuhlbarg,Nicole Scherzinger,Action Adventure Comedy Family Fantasy Sci-Fi,men in black 3,Will Smith Michael Stuhlbarg Nicole Scherzinge...
30,Dan Scanlon,Steve Buscemi,Tyler Labine,Sean Hayes,Adventure Animation Comedy Family Fantasy,monsters university,Steve Buscemi Tyler Labine Sean Hayes Dan Scan...
34,John Lasseter,Joe Mantegna,Thomas Kretschmann,Eddie Izzard,Adventure Animation Comedy Family Sport,cars 2,Joe Mantegna Thomas Kretschmann Eddie Izzard J...
36,Lee Unkrich,Tom Hanks,John Ratzenberger,Don Rickles,Adventure Animation Comedy Family Fantasy,toy story 3,Tom Hanks John Ratzenberger Don Rickles Lee Un...
...,...,...,...,...,...,...,...
7491,Kyle Mooney,Jaeden Martell,Julian Dennison,Rachel Zegler,Science Fiction Comedy Horror,y2k,Jaeden Martell Julian Dennison Rachel Zegler K...
7493,Justin Kurzel,Jude Law,Nicholas Hoult,Tye Sheridan,Adventure Action Comedy,the order,Jude Law Nicholas Hoult Tye Sheridan Justin Ku...
7494,Simon Otto,Brian Cox,Fiona Shaw,Jodie Whittaker,Animation Comedy Family Fantasy,that christmas,Brian Cox Fiona Shaw Jodie Whittaker Simon Ott...
7498,Rungano Nyoni,Elizabeth Chisela,Henry B.J. Phiri,Susan Chardy,Comedy Drama,on becoming a guinea fowl,Elizabeth Chisela Henry B.J. Phiri Susan Chard...
7499,Jeff Fowler,James Marsden,Ben Schwartz,Tika Sumpter,Science Fiction Comedy Family Action,sonic the hedgehog 3,James Marsden Ben Schwartz Tika Sumpter Jeff F...

In [6]:
comedy_df.to_csv("comedy.csv")